<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget-packages" value="https://uipath.pkgs.visualstudio.com/_packaging/nuget-packages/nuget/v3/index.json" />
    <add key="ServiceCommon" value="https://uipath.pkgs.visualstudio.com/_packaging/ServiceCommon/nuget/v3/index.json" />
    <add key="UiPath-Internal" value="https://uipath.pkgs.visualstudio.com/Public.Feeds/_packaging/UiPath-Internal/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <nuget-packages>
      <add key="Username" value="anything" />
      <add key="ClearTextPassword" value="%NUGET_PERSONAL_ACCESS_TOKEN%" />
    </nuget-packages>
    <ServiceCommon>
      <add key="Username" value="anything" />
      <add key="ClearTextPassword" value="%NUGET_PERSONAL_ACCESS_TOKEN%" />
    </ServiceCommon>
    <UiPath-Internal>
      <add key="Username" value="anything" />
      <add key="ClearTextPassword" value="%NUGET_PERSONAL_ACCESS_TOKEN%" />
    </UiPath-Internal>
  </packageSourceCredentials>
</configuration>